{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
<h2>Page not found</h2>
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}

            {# example security usage, see below #}
            {# if is_granted('IS_AUTHENTICATED_FULLY') #}
                {# ... #}
            {# endif #}

            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('full_log') }}">return to the homepage</a>.
            </p>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
        
