{# app/Resources/TwigBundle/views/Exception/error500.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
<h2>An Error has occurred</h2>
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}

            {# example security usage, see below #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {# ... #}
            {% endif %}

            <p>
                Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.
            </p>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
        