{# app/Resources/TwigBundle/views/Exception/error500.html.twig #}
{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
<h2>Ooops!</h2>
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}

            {# example security usage, see below #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {# ... #}
            {% endif %}
            <h1> An Error has occured! </h1>
            <br>
            <h2>{{ status_code }}</h2>
            {{ status_text }}
            <br>
            <p>
                Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.
            </p>
            
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
        