/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/var/cache/*
/app/config/parameters.yml
/app/logs/*
/var/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!var/logs/.gitkeep
!var/cache.gitkeep
/app/phpunit.xml
/build/
/vendor/
/media/
/composer.phar
/nbproject/private/
/.idea/
app/Resources/views/SecurityForm.twig
