<div class="container-fluid">
    <div class="col-sm-2 col-md-2 sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    <div class="col-sm-10 col-md-10 content">
        {% block content %}{% endblock %}
    </div>
</div>
