<div class="page-header-push">
</div>
<div class="container-fluid">
    <div class="col-sm-2 col-md-2 sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    <div class="col-sm-10 col-md-10 content">
        {% block content %}{% endblock %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" id="mainModalDialog" role="document">
    <div class="modal-content" id="mainModalContent">
      <div class="modal-header" id="mainModalHeader">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mainModalLabel">Title</h4>
      </div>
      <div class="modal-body" id="mainModalBody">
      </div>
      <div class="modal-footer" id="mainModalFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% for ups in UPSs %}
    <div class="modal fade" id="ups{{ ups.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ ups.id }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="ups{{ ups.id }}ModalLabel">Title</h4>
            </div>
            <div class="modal-body" id="ups{{ ups.id }}ModalBody">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
{% endfor %}
