<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Control Room Logging{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body class="{% block theme %}default{% endblock %}">
    <div class="page-header">
        <h1>
            <div class="col-md-4">
                {% block headertop %}{% endblock %}
                <small>
                    {% block headerbottom %}{% endblock %}
                </small>
            </div>
            {% if app.user %}
                <div class="col-md-8">
                    <div id="HeaderClock">
                    </div>
                </div>
            {% endif %}
        </h1>
    </div>
    {% block layout %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>