<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Control Room Logging{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            .loader {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url("{{ asset('assets/page-loader.gif') }}") 50% 50% no-repeat rgb(249,249,249);
            }
        </style>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            })
        </script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body class="{% block theme %}default{% endblock %}">
    <div class="loader"></div>
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-md-5 text-nowrap">
                {% block headertop %}{% endblock %}
                <small>
                    {% block headerbottom %}{% endblock %}
                </small>
            </h1>

                <h4 class="col-md-2 text-center hidden-xs"><br>
                    <div id="HeaderWeather" class="alert alert-warning" role="alert" style="display: none;">
                    </div>
                </h4>
                <div class="col-xs-1 col-md-1" id="sidebarShowDiv">
                    <button type="button" id="sidebarShow" class="btn" data-toggle="offcanvas" data-target=".sidebar-nav">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </div>
                <h2 class="col-md-4 text-right hidden-xs hidden-sm">
                    <div id="HeaderClock">
                    </div>
                </h1>
        </div>
        <div class="clearfix" style="background-color: #FFFFFF;"></div>
    </div>
    {% block layout %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
