<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Control Room Logging{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body class="{% block theme %}default{% endblock %}">
    {% block headertop %}{% endblock %}
    <div class="container-fluid">
        <div class="col-md-12">
            {% block headerbottom %}{% endblock %}
        </div>
    </div>
    {% block layout %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>