<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Control Room Logging{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body class="{% block theme %}default{% endblock %}">
    <div class="page-header">
        <div class="row">
            <h1 class="col-md-6">
                {% block headertop %}{% endblock %}
                <small>
                    {% block headerbottom %}{% endblock %}
                </small>
            </h1>
            {% if app.user %}
                <h5 class="col-md-2"><br>
                    <div id="HeaderWeather">
                    </div>
                </h5>
                <h1 class="col-md-4 text-right"">
                    <div id="HeaderClock">
                    </div>
                </h1>
            </div>
        {% endif %}
        </div>
        <div class="clearfix" style="background-color: #FFFFFF;"></div>
    </div>
    {% block layout %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
