<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Control Room Logging{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body class="{% block theme %}default{% endblock %}">
    <div class="page-header">
        <h1 class="pull-left">
                {% block headertop %}{% endblock %}
                <small>
                    {% block headerbottom %}{% endblock %}
                </small>
        </h1>
        {% if app.user %}
            <h4 class="pull-left">
                <div id="HeaderWeather" class="col-md-6 col-md-offset-2">
                </div>
            </h4>
            <h1 class="pull-right"> 
                <div id="HeaderClock">
                </div>
            </h1>
        {% endif %}
        <div class="clearfix" style="background-color: #FFFFFF;"></div>
    </div>
    {% block layout %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
