<div class="row">
  <a href="https://darksky.net/poweredby/">
    <img src="https://darksky.net/dev/img/attribution/poweredby.png" alt="Powered by Dark Sky" class="img-responsive" border="0">
  </a>
</div>
