{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Control
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            {% if iframe %}
                {{ iframe|raw }}
            {% endif %}
        {% if target %}
           <a href="{{ target }}" target="blank">
        {% endif %}
            {% if data %}
                {{ data }}
            {% endif %}
        {% if target %}
            </a>
        {% endif %}    
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
