{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Control Room Log
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Log Entries</h4>
                    </div>
                </div>
                <div class="row" id="logTable">
                    <div class="col-md-12">
                        {% if logs is empty %}
                            No logs available
                        {% else %}
                            
                        {% endif %}  
                    </div>
                </div>
                <div class="row" id="Legend">
                    <div class="col-md-12">
                        <h4>Legend</h4>
                        <div class="col-md-2">
                            <strong>Log Type</strong>
                            <ul class="list-group">
                                <li class="list-group-item"><span class="label label-default">Closed</span></li>
                                <li class="list-group-item"><span class="label label-primary">General</span></li>
                                <li class="list-group-item"><span class="label label-info">Lost Property</span></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <strong>Severity / Priority</strong>
                            <ul class="list-group">
                                <li class="list-group-item"><span class="label severity1">Very High</span></li>
                                <li class="list-group-item"><span class="label severity2">High</span></li>
                                <li class="list-group-item"><span class="label severity3">Medium</span></li>
                                <li class="list-group-item"><span class="label severity4">Low</span></li>
                                <li class="list-group-item"><span class="label severity5">Very Low</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        
        $(document).ready(function() {
            dataPoll();
        });
        
        var oldData;
        
        function dataPoll(){
            $.ajax({
                type:'POST',
                url: '{{ path('full_log_table') }}{% if app.request.get('sort') %}{{ app.request.get('sort') }}/{% endif %}{% if app.request.get('filter') %}{{ app.request.get('filter') }}/{% endif %}{% if app.request.get('filter_type') %}{{ app.request.get('filter_type') }}/{% endif %}',
                cache: false,
                global: false,
                success:function(data)
                {
                    var newTable = data;
                    //var oldTable = $("#logTable").html();
                    if (oldTable != newTable)
                    {
                        $("#logTable").html(data);
                        oldTable = data;
                    }
                }
            });
            setTimeout(tablePoll,5000);
        }
    </script>
{% endblock %}
