<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>Log Entry</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Entry Information</h2>
            <br>
            <div class="row">
                <div class="col-md-6">
                    Operator:
                    <br>
                    {{ entry.operator }}
                </div>
                <div class="col-md-6">    
                    Log Open Time:
                    <br>
                    {{ entry.log_entry_open_time }}    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">  
                    Short Description:
                    <br>
                    {{ entry.log_blurb }}
                    <br>
                    {{ entry }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">  
                </div>
                <div class="col-md-6">  
                </div>
            </div>
            <br>
                <div class="row" id="General">
                    <h2>General</h2>
                </div>
                <div class="row" id="Medical">
                    <h2>Medical</h2>
                </div>
                <div class="row" id="Security">
                    <h2>Security</h2>
                </div>
                <div class="row" id="Lost">
                    <h2>Lost Property</h2>
                </div>                                
        </div>
    </div>
</div>