    <div class="panel panel-info">
        <div class="panel-heading" role="button" data-toggle="collapse" data-target="#PCcollapse">
            Current Occupancy
        </div>
        <div id="PCcollapse" class="panel-collapse collapse in">
            <a href="{{ path('people_counting_log') }}" class="link-unstyled">
                <ul class="list-group">
                    {% for venue in venues %}
                        <li class="list-group-item" id="venue-{{ venue.venue_id.id }}">{{ venue.venue_id.name }}: 0</li>
                    {% endfor %}
                </ul>
            </a>
        </div>
    </div>
