    <div class="panel panel-info">
        <div class="panel-heading" role="button" data-toggle="collapse" data-target="#PCcollapse">
            Current Occupancy
        </div>
        <div id="PCcollapse" class="panel-collapse collapse in">
            <ul class="list-group">
                {% for venue in venues %}
                    <li class="list-group-item" id="venue-{{ venue.id }}">{{ venue.name }}: 0</li>
                {% endfor %}
            </ul>
        </div>
    </div>
