{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
People Counting Logs
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Event Occupancy Chart</h4>
                    </div>
                </div>
                <div class="row" id="chartsArea">
                    <div class="col-md-12">
                        {% if chart is not defined%}
                            No chart available
                        {% else %}
                            <div id="linechart" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
                        {% endif %}
                        {% for venue in venues %}
                            {{ venue.name }}
                        {% endfor %}
                            
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    {% if chart is defined%}
        <script type="text/javascript">
            Highcharts.setOptions({
                chart: {
                    backgroundColor: {
                        linearGradient: [0, 0, 500, 500],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(240, 240, 255)']
                            ]
                    },
                    borderWidth: 2,
                    plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                    plotShadow: true,
                    plotBorderWidth: 1
                },
                global: {
                    useUTC: false
                }
            });
            {{ chart(chart) }}
        </script>
    {% endif %}
   
{% endblock %}