    <div class="panel panel-info">
        <div class="panel-heading">
            Current Occupancy
        </div>
        <ul class="list-group">
            {% for venue in venues %}
                <li class="list-group-item" id="venue-{{ venue.id }}">{{ venue.name }}: 0</li>
            {% endfor %}
        </ul>
    </div>
