    <div class="panel panel-warning">
        {# <div class="panel-heading">
            UPS Status
        </div>
        #}
        <div class="panel-heading" role="button" data-toggle="collapse" data-target="#UPScollapse">
            UPS Status
        </div>
        <div id="UPScollapse" class="panel-collapse collapse in">
            <ul class="list-group ">
                {% for ups in UPSs %}
                    <li class="list-group-item" id="ups-{{ ups.id }}" data-toggle="tooltip" data-placement="right" title="{{ ups.name }} - {{ ups.location }}">UPS{{ ups.id }}: Timeout</li>
                {% endfor %}
            </ul>
        </div>
    </div>
