{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Control Command Scheduler
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block content %}
            {% include 'JMoseCommandSchedulerBundle:Navbar:navbar.html.twig' %}
            <div class="jumbotron">
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{% block title %}{% endblock title %}</h2>

                            {# Succes flash messages #}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success" role="alert">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            {# Errors flash messages #}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                    <hr>
                    <!--
                    <footer>
                        <p>&copy; Company</p>
                    </footer>
                    -->
                </div>
            </div><!-- /container -->
        {% endblock %}
        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/bootstrap-confirmation.js') }}"></script>

<script type="text/javascript">
    // Enable bootstrap-confirmation
    $(document).ready(function () {
        //$('[data-toggle="confirmation"]').confirmation();
        $('[data-toggle="confirmation"]').confirmation({
            singleton: true,
            popout: true,
            placement: 'left'
        });
    });
</script>
{% endblock %}
