{% extends 'BathSU.html.twig' %}
{% block headerbottom %}
Event Control Command Scheduler
        {# Succes flash messages #}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {# Errors flash messages #}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
{% endblock %}
{% block layout %}
    {% embed '3-9.html.twig' %}
        {% block title %}{% endblock title %}</h2>

        {% block content %}{% endblock content %}

        {% block sidebar %}
            {% include 'sidebar.twig' %}
            {% include 'darksky.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/jmosecommandscheduler/js/bootstrap-confirmation.js') }}"></script>

<script type="text/javascript">
    // Enable bootstrap-confirmation
    $(document).ready(function () {
        //$('[data-toggle="confirmation"]').confirmation();
        $('[data-toggle="confirmation"]').confirmation({
            singleton: true,
            popout: true,
            placement: 'left'
        });
    });
</script>
{% endblock %}
